html {
    min-height: 100%;
}
body{
    background-color: #dec0f1;  
    min-height: 1vh;
}
nav{
    background-color: #9d4edd;
    height: 10vh;
}
.link{
    color: white !important;
}
.link:hover{
    color: #212529 !important;
}
.login-form, .register-form{
    background-color:  #eff8ff;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
}
.auth-sec{
    margin-top: 3rem;
}
.auth-info{
    font-size: 1.5rem;
}
.login-err{
    color: red;
}